<html>

	<head>
		<title>
			Roz Grade Calculator
		</title>
	</head>
	
	<body>
		<form>
			
			<h1><center>Roz Grade Calculator</center></h1>
			<center>Hey, Welcome to my website where you can calculate your final grade!</center>
			
			
			<table>
				<tr> 
					<td> <label for="curr_grade">What is your current grade in percentage?</label> </td>
					<td><input type="text" id="curr_grade" name="curr_grade"> </td>
				</tr>
				
				<tr> 
					<td> <label for="expect_grade">What grade do you want in the class in percentage?</label> </td>
					<td><input type="text" id="expect_grade" name="expect_grade"> </td>
				</tr>
				
				<tr>
					<td> <label for="worth_grade">How much is your final worth in percentage?</label> </td>
					<td><input type="text" id="worth_grade" name="worth_grade"> </td>
				 </tr>
				
				<tr>
					<td>
						<button type="reset" value="Reset">Reset</button>
					</td>
					
					<td>
						<input type="submit" value="Calculate">
					</td>
				</tr>
				
			</table>
			
			
			
			
		</form>
		
	</body>

</html>